* {
    margin: 0;
    padding: 0;
    flex: none;
    box-sizing: border-box;

    &:after,
    &:before {
        box-sizing: border-box;
    }

    &::selection {
        color: $white;
        background-color: #f5a63c;
    }
}

body {
    font-family: $ff-base;
    font-size: $fs-base;
    color: $text-color-base;
    background-color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

a {
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: $link-color;

    &:hover,
    &:active,
    &:focus {
        color: $link-color;
    }
}

input {
    font-family: $ff-base;
}

button {
    font-family: $ff-base;
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

.content {
    display: flex;
    flex: 1;
    padding-top: $header-height;
}

.main {
    @include scrollbar($white);
    padding: $default-padding;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
}