.categories {
    @include scrollbar($sidebar-bg, 0);
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    overflow-x: auto;
    padding-bottom: $default-padding;


    &__item {
        color: $black;
        font-family: $ff-secondary;
        white-space: nowrap;
        background-color: $category-bg;
        border-radius: 20px;
        padding: 7px 12px;
        border: 1px solid #abaaaa;
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: darken($category-bg, 5%);
        }

        &:first-child {
            color: $white;
            background-color: #f5a63c;
            border-color: #f5a63c;

            &:hover {
                background-color: darken(#f5a63c, 5%);
            }
        }
    }
}