.footer {
    text-align: center;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
    padding-top: $default-padding;

    &__link {
        vertical-align: middle;

        &:hover {
            color: #f00;
        }
    }
}