.header {
    padding: $default-padding;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, .1) 0 10px 15px -3px, rgba(0, 0, 0, .05) 0 4px 6px -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &__logo {
        color: #f5a63c;
        font-size: 30px;
        display: flex;
        align-items: flex-start;
        font-family: $ff-secondary;
        font-weight: 700;

        i {
            margin-right: 15px;
        }
    }

    &__form {
        display: flex;
        flex: 1;
        justify-content: center;
        max-width: 40%;
    }

    &__search {
        display: flex;
        border-radius: 3px;
        border: 1px solid #d7d7d7;
        max-width: 440px;
        flex: 1;
    }

    &__input {
        border: 0;
        outline-offset: 0;
        padding: 10px;
        font-size: 12px;
        flex: 1;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        outline: 0;
        border-radius: 3px 0 0 3px;
        position: relative;

        &:focus {
            box-shadow: 0 0 0 2px rgba(13, 110, 253, .5) inset, 0 0 0 1px rgba(13, 110, 253, .5);
        }
    }

    &__submit {
        font-size: 14px;
        background-color: #ededed;
        padding: 0 $default-padding/2;
        border-left: 1px solid #d7d7d7;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: darken(#ededed, 5%);
        }
    }

    &__voice-search {
        font-size: 24px;
        padding: 0 10px;
        opacity: .3;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: .6;
        }
    }

    &__info {
        display: flex;
        position: relative;
    }

    &__notification {
        font-size: 24px;
        opacity: .3;
        padding: 0 $default-padding;
        margin-right: 4px;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: .6;
        }
    }

    &__navigation {
        &:hover {
            .header__menu {
                background-color: #e8e8e8;
            }

            .header__menu-wrapper {
                display: block;
            }
        }
    }

    &__menu-wrapper {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -10px;
        padding-top: 15px;
        transition: all .3s ease-in-out;
    }

    &__menu {
        font-size: 14px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        background-color: #f5a63c;
        border-radius: 40px;

        &:hover {
            background-color: #e8e8e8;
        }
    }
}