.navigation {
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    min-width: 160px;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0px;

    &__item {
        display: flex;
        padding: $default-padding/2 $default-padding;
        color: #2d2d2a;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #e4e5e6;
        }

        &:last-child {
            border-top: 1px solid #bdbcbc;
            color: #f00;
        }

        i {
            margin-right: 10px;
        }
    }
}