.sidebar {
    background-color: $sidebar-bg;
    width: 240px;
    display: flex;
    flex-direction: column;
    color: $black;

    &__users {
        @include scrollbar($sidebar-bg);
        overflow-y: auto;
        height: calc(100vh - #{$sidebar-info-height} - #{$header-height});
    }

    &__bottom {
        height: $sidebar-info-height;
        border-top: 1px solid $white;
        padding: $default-padding;
        text-align: center;
    }

    &__info {
        background-color: #dadada;
        border-radius: 3px;
        padding: 18px;
    }

    &__socials {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__social-icon {
        margin: 0 14px;
        font-size: 24px;

        &:hover {
            color: #0088cc;
        }
    }

    &__text {
        font-weight: 600;
        font-family: $ff-secondary;
    }
}

@media(max-width: 1199px) {
    .sidebar {
        width: auto;

        &__bottom {
            display: none;
        }

        &__users {
            height: calc(100vh - #{$header-height});
        }
    }
}