.slider {
    height: 315px;
    overflow: hidden;
    position: relative;
    max-width: 585px;
    width: 100%;
    align-self: center;
    margin-top: 40px;

    &__radio {
        height: 0;
        opacity: 0;
        width: 0;

        &:checked {
            & ~ .slider__slider-container {
                transform: translate3d(100%, 0, 0);
            }

            & + .slider__slider-container {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                z-index: 1;

                & + .slider__nav {
                    z-index: 6;
                }
            }
        }
    }

    &__slider-container {
        display: flex;
        transform: translate3d(-100%, 0, 0);
        transition: opacity .3s ease, transform .3s ease;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &__inner {
        display: flex;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 0;
        position: absolute;
        top: 40%;
        width: 100%;
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        transition: all .3s ease-in-out;
        background-color: $black;
        color: $white;
        cursor: pointer;

        &:hover,
        &:active {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            background-color: #f5a63c;
        }
    }
}