.user {
    padding: $default-padding;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: darken(#e8e8e8, 3%);
    }

    &__avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
    }

    &__name {
        flex: 1;
        margin-left: 16px;
        margin-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #3366ff;
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__status {
        border-radius: 50%;
        height: 8px;
        width: 8px;
        margin-right: 5px;

        &--is-online {
            background-color: #f00;
            animation: pulse 2s infinite;
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
            transform: scale(1);
        }
    }
}

@media(max-width: 1199px) {
    .user {
        &__name,
        &__info {
            display: none;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}