$ff-base: "Roboto", Helvetica, Arial, sans-serif;
$ff-secondary: "Source Code Pro", monospace;

$fs-base: 16px;
$lh-base: 1.3;

$text-color-base: #221f1f;
$link-color: #000;
$white: #fff;
$black: #000;

$sidebar-bg: #e8e8e8;
$category-bg: #e8e8e8;

$default-padding: 16px;

$header-height: 72px;
$sidebar-info-height: 150px;

@mixin scrollbar($scrollbar-color, $scrollbar-height: 8px) {
    scrollbar-color: #555 $scrollbar-color;
    @if $scrollbar-height == 0 {
        scrollbar-width: none;
    } @else {
        scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: $scrollbar-height;
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #555;
        }
    }
}