.video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-gap: 25px 10px;
    padding-top: 100px;

    &__img {
        max-width: 100%;
        vertical-align: top;
    }

    &__avatar {
        height: 24px;
        width: 24px;
        margin-left: 4px;
        margin-right: 12px;
    }

    &__description {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
    }

    &__name {
        font-family: $ff-secondary;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 700;

        &:hover {
            color: #3366ff;
        }
    }

    &__user {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #808080;
        font-size: 14px;
        margin-top: 2px;

        &:hover {
            color: #3366ff;
        }
    }

    &__options {
        font-size: 16px;
        align-self: flex-start;
        padding: 0 10px;
    }

    &__preview {
        position: relative;

        &:hover {
            .video__play-layer {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__item {
        &--is-live {
            .video__live {
                display: block;
            }
        }

        &--is-slide {
            max-width: 100%;
            display: flex;
            border-radius: 0 10px 10px 0;
            background-color: #e8e8e8;

            .video__description {
                padding-top: 0;
                align-items: flex-start;
                align-content: flex-start;
                padding: 20px 10px;
                flex: 1;
                overflow: hidden;
                flex-wrap: wrap;
            }

            .video__name {
                font-size: 12px;
            }

            .video__user {
                font-size: 10px;
            }

            .video__play {
                font-size: 30px;
            }

            .video__avatar {
                margin-left: 0;
            }
        }
    }

    &__article {
        margin-top: 20px;
        width: 100%;
        font-family: $ff-secondary;
        font-size: 12px;
    }

    &__live {
        display: none;
        font-family: $ff-secondary;
        text-transform: uppercase;
        color: $white;
        background-color: #f00;
        border-radius: 3px;
        padding: 2px 4px;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 50;
    }

    &__label {
        font-family: $ff-secondary;
        color: $white;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 3px;
        padding: 2px 4px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 50;
    }

    &__play {
        color: $white;
        font-size: 22px;
    }

    &__play-layer {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .6);
        opacity: 0;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        transition: all .3s linear;
    }
}